# Cache files for Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Workspace files are user-specific
*.sublime-workspace

# Project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using Sublime Text
# *.sublime-project

# SFTP configuration file
sftp-config.json
sftp-config-alt*.json

# Package control specific files
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
oscrypto-ca-bundle.crt
bh_unicode_properties.cache

# Sublime-github package stores a github token in this file
# https://packagecontrol.io/packages/sublime-github
GitHub.sublime-settings

*.mp4
.DS_Store
*.DS_Store
draft_code/.DS_Store
__pycache__
Forms.zip
IGCSE_ICT_PPQ/.DS_Store
IGCSE_ICT_PPQ/2017/.DS_Store
IGCSE_ICT_PPQ/2018/.DS_Store
IGCSE_ICT_PPQ/2019/.DS_Store
IGCSE_ICT_PPQ/2020/.DS_Store
trial_py/.DS_Store
trial_py/__pycache__
