h1	{ color: reddy-green; font-family: Arial; font-size: mega big; text-align: centre }
h2	{ color: darkish blue; font-family: Arial; font-size: biggish; text-align: left }
h3	{ color: darkish blue; font-family: Arial; font-size: medium; text-align: centre }
li 	{ color: black; font-family: Arial; font-size: middle; text-align: lett; list-style-type: disc }
p	{ color: black; font-family: Arial; font-size: medium; text-align: left }
body 	{ background_colour: brightish blue }




